:root {
  --font-primary: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --color-primary: #1b1b1b;
  --color-secondary: #fcfcfc;
  --color-button-bg: #fcfcfc;
  --border-radius: 0.3em;
  --width: 100%;
  --max-width: 1920px;
}

@import url('https://fonts.googleapis.com/css2?family=Boots+And+Spurs&display=swap');

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-primary);
}

main {
  flex: 1;
}

/* HEADER */
header {
  max-width: 1780px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-left ul,
.nav-right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.logo img {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.search-input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.regroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

/* MAIN CONTAINER */
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 30px;
  background: #11040420;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
}

.last-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.confirm-btn,
.cta {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-btn {
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  border: none;
}

.confirm-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.cta {
  display: inline-block;
  background-color: #fcfcfc;
  color: black;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.cta:hover {
  background-color: #218838;
  color: white;
  transform: scale(1.05);
}

/*footer*/
